streamlit>=1.12.0
opencv-python>=4.5.5
dlib==19.24.6
imutils>=0.5.4
numpy>=1.22
setuptools>=58.0.0
https://github.com/davisking/dlib/releases/download/v19.24/dlib-19.24.0-cp38-cp38-manylinux2014_x86_64.whl


